
.roomListings {
  display: flex;
  width: 95%;
  margin:auto;
  flex-flow: row nowrap;
  justify-content: start;
  padding: 10px, 10px;
}

.roomListingsButtonPrev {
  display: inline-block;
  font-size: 30px;
  align-content: center;
  vertical-align: center;
  margin: auto 2%;
}

.roomListingsButtonNext {
  display: inline-block;
  font-size: 30px;
  align-content: center;
  margin: auto 2%;
}
