.roomListingImage {
  width: 115px;
  height: auto;
  border-radius: 10px;
}

.roomListing {
  width: 130px;
  display: inline-block;
  padding: 5px;
  margin: 5px 10px;
  border: 1px solid grey;
}



/*
Scrolling text
*/
.roomListingTitle {
  overflow: hidden;
  height: 25px;
  position: relative;
}

.fullTitle {
  position: relative;
  display: inline-block;

}

.roomListingTitle .fullTitle {
  visibility: hidden;
  color: white;
  text-align: center;
  background-color: black;
  padding: 5px;
  border-radius: 6px;
}

.fullTitle:hover {
  visibility: visible;
}